body {
    background: blue url(meme.png) no-repeat fixed center;
    background-size: 100%;
    font-family:arial;
    color: white;   
}

a {
    color: white;
}
a:hover {
    color: aqua;
}
a:active {
    color: aquamarine;
}